/* Box sizing, margin and padding rules*/
*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  outline-color: transparent;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

html {
  scroll-padding-block-start: 5rem;
}

/* Set core root defaults */
html,
html:focus-within {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2rem;
}

/* Set core body defaults */
body {
  min-block-size: 100vh;
  inline-size: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* prevents outline on pseudo classes on anchor links */
a:focus,
a:visited,
a:active {
  outline-color: transparent;
}

/* Make images easier to work with */
img,
picture {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

/* Inherit fonts for inputs and buttons and prevent blue highlight box */
input,
button,
textarea,
select,
a {
  -webkit-tap-highlight-color: transparent;
  font: inherit;
  outline: transparent;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.nav {
  padding: 2rem;
  display: flex;
}
.nav__logo {
  width: 6.25rem;
}

.header {
  text-align: center;
}
.header-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 11px;
  font-weight: 300;
  line-height: 1.05;
  padding-block: 4rem 1rem;
  color: hsl(0, 36%, 70%);
}
.header-title__span {
  display: block;
  font-weight: 600;
  color: hsl(0, 6%, 24%);
}
.header__hero-img-wrapper--desktop {
  display: none;
}

.main {
  display: grid;
  gap: 2rem;
  padding: 0 2rem 6rem;
}
.main__par {
  font-size: 0.89rem;
  line-height: 1.525;
  text-align: center;
  color: hsl(0, 36%, 70%);
}
.main__form {
  position: relative;
}
.main__form__input {
  inline-size: 100%;
  padding: 0.7rem 1.4rem;
  border: 1px solid;
  border-color: hsl(0, 36%, 70%);
  border-radius: 1.5rem;
  background: inherit;
}
.main__form__input::placeholder {
  font-size: 0.89rem;
  color: hsl(0, 36%, 70%);
}
.main__form__btn {
  position: absolute;
  inset-inline-end: -2px;
  inset-block-start: 50%;
  cursor: pointer;
  translate: 0 -50%;
  padding: 0 1.6rem;
  block-size: 100%;
  border: 0;
  border-radius: 1.5rem;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  will-change: filter;
  transition: filter 300ms;
}
.main__form__btn:hover {
  filter: drop-shadow(0 10px 0.75rem hsl(0, 80%, 86%));
}
.main__form__btn:active {
  filter: brightness(1.25);
}

@media (min-width: 376px) {
  .body {
    display: flex;
  }
  .container {
    flex: 57.65%;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background: url("/src/assets/bg-pattern-desktop.svg") no-repeat 100%;
    background-position: top right;
  }
  .wrapper {
    padding: 4rem 0;
    max-inline-size: min(100%, 31.25rem);
    margin: 0 auto;
    padding-inline-end: 3.5rem;
  }
  .nav {
    padding: 0;
  }
  .nav__logo {
    width: 10rem;
  }
  .header {
    text-align: left;
  }
  .header-title {
    font-size: 4rem;
    letter-spacing: 17px;
    line-height: 1.06;
    padding-block: 8.5rem 1.5rem;
  }
  .header__hero-img-wrapper--mobile {
    display: none;
  }
  .header__hero-img-wrapper--desktop {
    display: inline;
  }
  .main {
    padding: 0;
    gap: 2.5rem;
  }
  .main__par {
    text-align: left;
    font-size: 1rem;
    line-height: 1.7;
  }
  .main__form__input {
    padding: 1rem 1.4rem;
    border-radius: 2rem;
  }
  .main__form__btn {
    border-radius: 2rem;
    padding: 0 2.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
